.fcentreit{
  font-weight: bolder;
  color: rgb(4, 72, 104);
  text-align: center;
  font-size: 25px;
}
.fcentre{
   width: 450px;
   margin-left: 450px;
   background-color: thistle;
}

.labels-add{
    color: rgb(170, 49, 49);
    font-family: crimson sans-serif;
    margin-left: 50px;
    font-size: 20px;
}
.input-add
{
  height: 24px;
  width: 220px;
  padding-bottom: 14px;
}

.link {
  text-decoration: inherit;
  color: black;
}