.button
{
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 70px;
    background-color: #095f6e;
    cursor: pointer;
    border-radius: 20px;
    font-family: Crimson sans-serif;
    font-weight: bolder;
}
.background-admin
{
    background-image: url("../Animation/adminback.gif");
    background-size: 100% 100%;
    height: 600px;
}
  
.namesearch{
    display: inline;
    text-decoration: none;
}
.navbar-admin
{
    height: 90px;
    background-color: #48316d;
}
.left-admin
{
    margin-left: 30px;
    margin-top: 10px;
}
.center-admin{
        margin-left: 350px;
}
.right-admin
{
    margin-left: 370px;
}
.route-content
{
    justify-content: center;
    align-items: center;
} 
