:root{
  --primary:#071a6d;
  --green:#4f7942;
  --danger:#a50021;
  --success:#75fa83;
  --dark:#181717;
  --white:#fdfdfd;
  --grey:#a9a9a9;
  --pink:#c11b66;

}

.btn{
  font-family: Crimson sans-serif !important ;
  font-weight: 500  !important;
  border-radius: 70px  !important;
  cursor: pointer  !important;
  transition: transform 0.3s ease  !important;

}

.btn:hover{
  transform: translateY(-3px)  !important;
}


.btn--primary--solid{
  background: var(--primary)  !important;
  color: var(--white)  !important;
  border:none  !important;
}

.btn--green--solid{
  background: var(--green)  !important;
  color: var(--white)  !important;
  border:none  !important;
}

.btn--danger--solid{
  background: var(--danger)  !important;
  color: var(--white)  !important;
  border:none  !important;
}

.btn--success--solid{
  background: var(--success)  !important;
  color: var(--white)  !important;
  border:none  !important;
}

.btn--grey--solid{
  background: var(--grey)  !important;
  color: var(--black)  !important;
  border:none  !important;
}

.btn--grey--solid{
  background: var(--pink)  !important;
  color: var(--black)  !important;
  border:none  !important;
}

.btn--primary--outline{
  background-color: transparent  !important;
  color: var(--primary)  !important;
  border: 2px solid var(--primary)  !important;
}

.btn--green--outline{
  background-color: transparent  !important;
  color: var(--green)  !important;
  border: 2px solid var(--green)  !important;
}

.btn--danger--outline{
  background-color: transparent  !important;
  color: var(--danger)  !important;
  border: 2px solid var(--danger)  !important;
}

.btn--success--outline{
  background-color: transparent  !important;
  color: var(--success)  !important;
  border: 2px solid var(--success)  !important;
}

.btn--grey--outline{
  background-color: transparent  !important;
  color: var(--grey)  !important;
  border: 2px solid var(--grey)  !important;
}

.btn--pink--outline{
  background-color: transparent  !important;
  color: var(--pink)  !important;
  border: 2px solid var(--pink)  !important;
}



.btn--medium{
  padding: 10px 20px  !important;
  font-size: 18 px  !important;
}

.btn--large{
  padding: 15px 30px  !important;
  font-size: 20 px  !important;
}

.btn--small{
    padding: 5px 5px  !important;
    font-size: 16 px  !important;
}

.btn--mini{
  padding: 2px 2px  !important;
  font-size: 14 px  !important;
}
