.searchButton{
    background-color: white;
    height: 2rem;
    width: 30px;
    border: 3px solid #10bdeb;
  }
  .searchInput
  {
    border: 3px solid #10bdeb;
  }
.tableitemsName{
     border: 1px solid black;  
     border-collapse: collapse;
     width: 50%;
  }
  
  .dataName{
    border: 1px solid black;
   border-collapse: collapse; 
    text-align: centre !important;
    padding: 10px;
    color: black !important;
    text-align: center;
    background-color: #ffcccc;
    font-family: crimson cursive;
  }
  
  .headerName{
    border: 1px solid white;
    border-collapse: collapse;
    height: 50px;
    color: whitesmoke !important;
    text-align: center;
    background-color: #022535;
    font-family:  sans-serif;
    font-weight: bolder;
  }


 
  