
  .form{
    display: inline;
  }
    .bigblue-addForm {
    color: black;
    padding: 40px;
    font-family: crimson sans-serif;
    text-align: center;
    font-weight: bolder;
  }

.select {
  width: 80%;
  padding: 18px 22px;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;  
}
.label-addressForm{
    color: black;
    font-family: crimson sans-serif;
    font-size: 22px;
}
.inputs-addressForm
{
    height: 30px;
    width: 230px;
}
.box{
  background-color: rgb(235, 231, 231);
  margin-left: 500px;
  width: 600px;
  height: 800px;
  border: 15px solid rgb(54, 13, 92);
  padding: 50px;
  align-items: center;
  resize: horizontal;
  align-self: center;
  margin: 22px;
  margin-top: 50px;
  
  
}
.labels
{
    font-family: crimson sans-serif;
color: black;
}

.payment-logo{
    margin-left: 150px;
    height: 50px;
}

.table {
  display: table;
  border-collapse: separate;
  border-spacing: 3px;
  border-color: rgb(52, 52, 100);
}


.addnewbutton{
  margin-left: 60px;
}

