/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 90;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;

}

/* Control the right side */
.right {
  right: 0;
  background-color: #f2f2f2

}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered {
  align-items: centre;

}

.box{
  border: 1px solid black;
}

.img{
  position: absolute;
  height: 300px;
  width: 300px;
  left:20%;

}


.tableitems{
  font-family: Crimson sans-serif !important ;
  color: black !important;
  text-align: left;
}

.datas{
  padding-right: 40px;
  font-family: Crimson sans-serif !important ;
  align-items: left !important;
  padding-bottom: 10px;
  column-width: 300px;
}

.data{
  font-family: Crimson sans-serif !important ;
  align-items: left !important;
  padding-bottom: 10px;
  padding-right: 10px;
}

.inputbar{
  box-sizing: border-box;
  width:70px;
}
