.tableitems-all{
  border: 1px solid black;
  border-collapse: collapse;
  width: 90%;
  margin-left: 70px;
}

.data-all{
  border: 1px solid black;
  border-collapse: collapse; 
   text-align: centre !important;
   padding: 10px;
   color: black !important;
   text-align: center;
   background-color: #ffcccc;
   font-family: crimson sans-serif;
}

.header-all{
  border: 1px solid white;
  border-collapse: collapse;
  height: 50px;
  color: white !important;
  text-align: center;
  background-color: #022535;;
  font-family: crimson sans-serif;
  font-weight: bolder;

}
