.tableitems{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;

}

.data{
  border: 1px solid black;
    border-collapse: collapse;
  text-align: centre !important;
  padding: 10px;
}

.header{
  border: 1px solid black;
    border-collapse: collapse;
  height: 50px;

}
