.bgimageuserLog{
  background-image: url('../Images/user4.jpg');
  background-size: cover;
  opacity: 1;
  /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 90px;
    left: 0;
  }

  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
    left: 50%;
     margin-left: -512px;   /* 50% */
    }


}

.tableitemsuserLog{
  align-items: right;
  color: #fff;
  border: 3 px solid white !important;
  font-family: crimson sans-serif;
  top : 120px
}

.centreuserLog{
  align-items: center;
  position: fixed;
   left: 50%;
   top: 100px;
   transform: translate(-50%, 0);
    border:1px solid black;
   padding: 3rem;
}

.labelsuserLog{
    padding-right: 3px;
    text-align: left;
    color: maroon;
}

.inputsuserLog{
  margin-bottom: 0.3rem;
}

.centreituserLog{
  align-items: center !important;
  text-align: center !important;
  color: #053005;
  font-weight: bolder;
}
.centreituserLogin
{
  align-items: center !important;
  text-align: center !important;
  color: #044404;
  font-weight: bold;
}
